---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';

---

<Layout title="Page Not Found" description="M">
  <div
    class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--space-sm)",
    }}
  >
    <div>
      <h1 class="h1">Welp, this is awkward!</h1>
      <p>We seem to have misplaced something…</p>
    </div>
    <Link
      href="/"
      style="secondary"
      text="Go Home"
      icon={{
        name: "line-md:home",
        side: "right",
      }}
    />
  </div>
</Layout>

<style>
</style>