---
import MainLayout from '../../layouts/MainLayout.astro';
import ProjectCard from '../../components/ProjectCard.astro';

import { formatProjectPost } from '../../ts/utils';
const allProjects = await Astro.glob("./*.md");
const formattedPosts = formatProjectPost(allProjects);

---

<MainLayout title="Projects">
  <section class="container" aria-label="new project posts">
    <h1 class="h1">Projects</h1>
    <div class="post-container">
      {
        formattedPosts.map(
          (project) => <ProjectCard frontmatter={project.frontmatter} url={project.url}/>
        )
      }
    </div>    
  </section>
</MainLayout>

<style>

</style>
